html, body{
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4, p, a{
	font-family: 'Lato', sans-serif;
}

#graph-container {
	background-color: #EAF4EC;
	position: fixed;
	left: 210px;
	right: 0px;
	bottom: 0px;
	top: 70px;
}

#control-panel {
	width: 210px;
	position: fixed;
	left: 0;
	bottom: 0px;
	top: 0px;
	background-color: #1F1F1F;
	color: rgb(158, 149, 149);
	box-shadow: inset -3px 0px 8px #000000;
}

#banner {	
	background-color: #D2EFBB;
	text-align: center;
	position: fixed;
	left: 210px;
	right: 0px;
	top: 0;
	height: 70px;
}

.gender-button {
	width: 66px;
	margin: 1px;
	height: 50px;
}

.gender-button-container {
	margin: 10px 35px;
	display: inline-block;
}

#stream, #bar {
	height: 42% !important;
}

.navigation-aid-wrapper {
	height: 8%;
	background-color: #fff;
}